:root {
    --nepLightPurple: #e1d6ff;
    --nepPurple: #b296ff;
    --nepBurgundy: #38112a;
    --nepLegendColor: var(--nepBurgundy);
    --nepLegendBackgroundColor: var(--nepLightPurple);
}
:root.nepThemeDark,
:root.sapUiTheme-sap_horizon_dark {
    --nepLegendColor: var(--nepLightPurple);
    --nepLegendBackgroundColor: var(--nepBurgundy);
}

.dxpDemoSegmentedButton.sapMSegB .sapMSegBBtn .sapMSegBBtnInner {
    color: var(--sapContent_LabelColor);
}

.sapMSegBBtn.sapMSegBBtnFocusable[data-segmented="copy"]:active:hover .sapMSegBBtnInner,
.sapMSegB .sapMSegBBtnSel[data-segmented="copy"] .sapMSegBBtnInner {
    color: var(--nepLegendColor);
}
.sapMSegBBtn.sapMSegBBtnSel[data-segmented="copy"] .sapMSegBBtnInner {
    border-color: var(--nepLegendColor);
    background-color: var(--nepLegendBackgroundColor);
}
html.sap-desktop .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel[data-segmented="copy"]:hover .sapMSegBBtnInner {
    background-color: var(--nepLegendBackgroundColor);
}
.sapMSegBBtn.sapMSegBBtnFocusable[data-segmented="copy"]:active:hover .sapMSegBBtnInner,
html.sap-desktop .sapMSegBBtnFocusable.sapMSegBBtnSel[data-segmented="copy"]:hover .sapMSegBBtnInner,
html.sap-desktop .sapMSegBBtnFocusable[data-segmented="copy"]:focus .sapMSegBBtnInner:after {
    border-color: var(--nepLegendColor);
}

.sapMSegBBtn.sapMSegBBtnFocusable[data-segmented="new"]:active:hover .sapMSegBBtnInner,
.sapMSegB .sapMSegBBtnSel[data-segmented="new"] .sapMSegBBtnInner {
    color: var(--sapLegendColor8);
}
.sapMSegBBtn.sapMSegBBtnSel[data-segmented="new"] .sapMSegBBtnInner {
    border-color: var(--sapLegendColor8);
    background-color: var(--sapLegendBackgroundColor8);
}
html.sap-desktop .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel[data-segmented="new"]:hover .sapMSegBBtnInner {
    background-color: var(--sapLegendBackgroundColor8);
}
.sapMSegBBtn.sapMSegBBtnFocusable[data-segmented="new"]:active:hover .sapMSegBBtnInner,
html.sap-desktop .sapMSegBBtnFocusable.sapMSegBBtnSel[data-segmented="new"]:hover .sapMSegBBtnInner,
html.sap-desktop .sapMSegBBtn:first-child.sapMSegBBtnFocusable[data-segmented="new"]:focus .sapMSegBBtnInner:after {
    border-color: var(--sapLegendColor8);
}

.sapMSegBBtn.sapMSegBBtnFocusable[data-segmented="edit"]:active:hover .sapMSegBBtnInner,
.sapMSegB .sapMSegBBtnSel[data-segmented="edit"] .sapMSegBBtnInner {
    color: var(--sapLegendColor4);
}
.sapMSegBBtn.sapMSegBBtnSel[data-segmented="edit"] .sapMSegBBtnInner {
    border-color: var(--sapLegendColor4);
    background-color: var(--sapLegendBackgroundColor4);
}
html.sap-desktop .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel[data-segmented="edit"]:hover .sapMSegBBtnInner {
    background-color: var(--sapLegendBackgroundColor4);
}
.sapMSegBBtn.sapMSegBBtnFocusable[data-segmented="edit"]:active:hover .sapMSegBBtnInner,
html.sap-desktop .sapMSegBBtnFocusable.sapMSegBBtnSel[data-segmented="edit"]:hover .sapMSegBBtnInner,
html.sap-desktop .sapMSegBBtn.sapMSegBtnLastVisibleButton.sapMSegBBtnFocusable[data-segmented="edit"]:focus .sapMSegBBtnInner:after {
    border-color: var(--sapLegendColor4);
}
