:root .dxpDemoSpace {
  --sapFontHeader5Size: .875rem;
}

.dxpDemoSpace .sapMObjectNumber {
  font-size: 0.75rem;
}

.dxpDemoSpace .sapMLIB.sapMObjLItem {
  padding: 0.5rem 1rem;
}

.dxpDemoSpace .sapMObjLIntro {
  padding-bottom: 0.25rem;
}

.dxpDemoSpaceHeader,
.dxpDemoSpaceTitle {
  width: 100%;
  border-bottom: 1px solid var(--sapGroup_TitleBorderColor);
}

.dxpDemoSpaceTitle .sapMTitle {
  margin: 0.8175rem 1rem;
}

.dxpDemoSpaceHeader {
  padding: 0.5rem 0 1rem;
}