:root .dxpDemoSpace {
    --sapFontHeader5Size: .875rem;
}
// .dxpDemoSpace .sapMObjLNumberDiv .sapMObjectNumber .sapMObjectNumberText {
//     font-size: 1rem;
// }
.dxpDemoSpace .sapMObjectNumber {
    font-size: .75rem;
}
.dxpDemoSpace .sapMLIB.sapMObjLItem {
    padding: .5rem 1rem;
}
.dxpDemoSpace .sapMObjLIntro {
    padding-bottom: 0.25rem;
}