.sapUiTheme-sap_horizon .nepDxpDemoDark,
.nepThemeLight .nepDxpDemoDark {
  display: none;
}

.nepThemeDark .nepDxpDemoLight {
  display: none;
}

.nepDxpDemoSplitterBack {
  display: none;
}

.sapUiRSVisiblePaginator .nepDxpDemoSplitterBack {
  display: block;
}